<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" type="text/css" href="./principal/css/styles.css">
    <link rel="stylesheet" type="text/css" href="./principal/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>UBATÉ, ¡¡¡ DESTINO DE TRADICIONES !!!</title>

</head>
<body>
    
    {{!-- INICIO DE ATRACTIVOS --}}

        <div class="containeratractivos">
        <p>holaMundo</p>
    </div>

    <section class="page-section portfolio atractivos" id="atractivos">
        <div class="container-fluid flex-wrap d-flex align-content-around ">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">ATRACTIVOS</h2>

            <br>
            <div class="row  ">

                

                <div class="col-sm-3 col-md-2 col-lg-2  col-3   ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo1">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/basilica.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3   ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo1">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/basilica.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3   ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo1">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/basilica.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3   ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo1">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/basilica.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3   ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo1">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/basilica.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3    ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo1">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/basilica.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3    ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo1">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/basilica.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3    ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo1">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/basilica.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3    ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo1">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/basilica.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3    ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo1">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/basilica.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3   ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo2">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/sanluis.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3   ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo3">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/ricaurte.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3    ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo4">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/sanluis.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3   ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo5">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/ricaurte.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3   ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo6">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/basilica.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3     ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo1">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/basilica.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3    ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo1">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/basilica.jpg" alt="..." />
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-lg-2  col-3    ">
                    <div class="portfolio-item m-0" data-bs-toggle="modal" data-bs-target="#atractivo1">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="pportfolio-item-caption-content text-center text-light"><i
                                    class="fas fa-heart  fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="..//principal/img/basilica.jpg" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </section>
{{!-- <div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-xl-4">
      <a class="d-flex flex-column align-items-end p-3 block" href="">
        <div class="label mb-auto">primero</div>
        <div class="description">But I must explain to you how all this mistaken idea of denouncing pleasure and praising.</div>
      </a>
    </div>
    
    <div class="col-12 col-md-6 col-xl-4">
      <a class="d-flex flex-column align-items-end p-3 block" href="">
        <div class="label mb-auto">tercero</div>
        <div class="description">The several languages coalesce.</div>
      </a>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
      <a class="d-flex flex-column align-items-end p-3 block" href="">
        <div class="label mb-auto">cuarto</div>
        <div class="description">Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</div>
      </a>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
      <a class="d-flex flex-column align-items-end p-3 block" href="">
        <div class="label mb-auto">quinto</div>
        <div class="description">The new common language will be more simple and regular than the existing European languages.</div>
      </a>
    </div>
  </div>
</div> --}}

    {{!-- FIN DE ATRACTIVOS --}}
</body>
</html>