<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" type="text/css" href="/principal/css/tipos.css">
    <link rel="stylesheet" type="text/css" href="/principal/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>TIPOS DE TURISMO</title>
</head>

<body class="tiposturismo masthead text-center">

    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <img class="navbar-brand" href="./#page-top" src="/principal/img/marca.png" width="150" height="50">
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                MENÚ
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="./#rutas">RUTAS</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="./#atractivos">ATRACTIVOS</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="./#noticias">NOTICIAS</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="./tipos">TIPOS
                            DE TURISMO</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="./iniciar">INICIO
                            DE SESION</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="#contacto">ACERCA DE NOSOTROS</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="page-section bg-img mb-2" id="mapa1">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-2">MAPA TURÍSTICO DEL MUNICIPIO DE
            UBATÉ</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-12 me-auto">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1SiT5_d_gGCEkzOra5acVThGL8u77oks&ehbc=2E312F"
                        width="640" height="480"></iframe>
                </div>
            </div>

        </div>
    </section>

    <section class="page-section bg-brown text-white mb-2" id="mapa2">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-2">Turismo de Cultura e Historia
        </h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-12 me-auto">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/d/embed?mid=1pksKpF6qrsWvLzO694fkaa9_FTNBzN0&ehbc=2E312F"
                        width="640" height="480"></iframe>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section bg-pink text-white mb-2" id="mapa3">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-2">Turismo Gastronómico</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-12 me-auto">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/d/embed?mid=1Ubl4Akamq-1jT-dI1c_pNPPdeZyO21k&ehbc=2E312F"
                        width="640" height="480"></iframe>
                </div>
            </div>

        </div>
    </section>

    <section class="page-section bg-info text-white mb-2" id="mapa4">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-2">Turismo Religioso</h2>
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-12 me-auto">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/d/embed?mid=147kWvChlNXo9ACDt8Bl-2Lg1t5o-3Ag&ehbc=2E312F"
                        width="640" height="480"></iframe>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section bg-orange text-white mb-2" id="mapa5">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-2">Turismo de Naturaleza</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-12 me-auto">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/d/embed?mid=1lTCW12vQoRwW_VcSw1EUL5NMme7Qt7g&ehbc=2E312F"
                        width="640" height="480"></iframe>
                </div>
            </div>

        </div>
    </section>

    <section class="page-section bg-success text-white mb-2" id="mapa6">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-2">Turismo Deportivo</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-12 ms-auto">
                    <p class="texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium
                        corporis vel? Officiis accusantium ipsam delectus tenetur enim. Distinctio ad fuga ducimus hic
                        est architecto vitae similique corrupti dignissimos molestias.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-12 me-auto">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/d/embed?mid=1QDwDtoUCzMMmEIL5lZg3dQdrXsGN2oI&ehbc=2E312F"
                        width="640" height="480"></iframe>
                </div>
            </div>
        </div>
    </section>

    <script src="bootstrap/popper/bootstrap.min.js"></script>
    <script src="bootstrap/popper/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</body>

</html>