@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;400&family=Raleway:ital,wght@1,900&family=Red+Hat+Display:ital,wght@1,500&display=swap');

html{
    font-family: 'Quicksand', 'Montserrat', Verdana, Geneva, Tahoma, sans-serif, cursive;
    
    color: black;
}


.tiposturismo {
    background-color: rgb(137, 140, 151);
}

div{
    color: black;
    border-color: black;
}


li:hover {
    opacity: 0.5;
}


  .bg-img{
    background-image: url(../img/marca.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .mapa{
    width: 100%;
    height: 100%;

  }

  .texto {
    font-size: 1.25rem;
    font-weight: 300;
  }

  @media (max-width: 768px){
    body{
        font-size: small;
    }

    .texto {
        font-size: 1rem;
        font-weight: 200;
      }
  }

  